Source: binutils-host
Section: host/tools
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7), bash, bison, flex, dpatch, texinfo
XCS-Cross-Host-Build-Depends: debhelper (>= 7), bash, bison, flex, dpatch, texinfo
XCS-Cross-Build-Depends: 
Standards-Version: 3.8.3

Package: binutils-__TARGET__
Architecture: any
Depends: ${shlibs:Depends}
Priority: optional
Description: The GNU binary utilities, for __TARGET__ target
 This package provides GNU assembler, linker and binary utilities
 for use in a cross-compilation environment.
