#!/usr/bin/make -f
# debian/rules file - for binutils (2.18)
# Based on sample debian/rules file - for GNU Hello (1.3).
# Copyright 1994,1995 by Ian Jackson.
# Copyright 1998-2007 James Troup
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)
# This file may have to be extensively modified

include /usr/share/dpatch/dpatch.make

pwd   := $(shell pwd)

SHELL  = /bin/bash

CFLAGS = -g -O2

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS = -g -O0
endif

VERSION = $(shell sed -n 's/^ *VERSION=\(.*\)/\1/p' bfd/configure | head -1)

NJOBS =
# Support parallel=<n> in DEB_BUILD_OPTIONS (see #209008)
COMMA = ,
ifneq (,$(filter parallel=%,$(subst $(COMMA), ,$(DEB_BUILD_OPTIONS))))
  NJOBS := -j $(subst parallel=,,$(filter parallel=%,$(subst $(COMMA), ,$(DEB_BUILD_OPTIONS))))
endif

CONFIGURE_ARGS = --enable-shared \
	--disable-nls \
	--prefix=/usr \
	--host=$(DEB_HOST_GNU_TYPE) \
	--build=$(DEB_BUILD_GNU_TYPE) \
	--target=$(DEB_HOST_GNU_TYPE)

BUILD_DIR=builddir-$(DEB_HOST_GNU_TYPE)


clean: unpatch
	dh_testdir
	dh_testroot

	rm -rf build-* debian/control.*

	dh_clean

configure: patch configure-stamp
configure-stamp:
	dh_testdir

	mkdir -p $(BUILD_DIR)
	cd $(BUILD_DIR) && ../configure $(CONFIGURE_ARGS)

	touch $@

build: configure build-stamp
build-stamp:
	dh_testdir

	$(MAKE) -C $(BUILD_DIR) $(NJOBS) CFLAGS="$(CFLAGS)"

	touch $@

install: build
	dh_testdir
	dh_testroot

	$(MAKE) -C $(BUILD_DIR) prefix=$(CURDIR)/debian/tmp/usr install
	cp $(BUILD_DIR)/libiberty/pic/libiberty.a $(CURDIR)/debian/tmp/usr/lib/libiberty_pic.a

binary-arch: install
	dh_testdir -s
	dh_testroot -s

	dh_install -s
	dh_strip -s
	dh_compress -s
	dh_fixperms -s
	dh_makeshlibs -s
	dh_shlibdeps -s
	dh_installdeb -s
	dh_gencontrol -s
	dh_builddeb -s

binary-indep: install

binary: binary-indep binary-arch
.PHONY: binary binary-arch binary-indep clean
