#!/usr/bin/make -f
# debian/rules file - for binutils (2.18)
# Based on sample debian/rules file - for GNU Hello (1.3).
# Copyright 1994,1995 by Ian Jackson.
# Copyright 1998-2007 James Troup
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)
# This file may have to be extensively modified

################################################################################

include /usr/share/dpatch/dpatch.make

################################################################################

pwd   := $(shell pwd)

install_dir    = install -d -m 755
install_file   = install -m 644

DEB_BUILD_GNU_TYPE := $(shell set -x ; dpkg-architecture -a$(TARGET) -qDEB_BUILD_GNU_TYPE)
DEB_HOST_ARCH 	   := $(shell set -x ; dpkg-architecture -a$(TARGET) -qDEB_HOST_ARCH)
DEB_HOST_GNU_TYPE  := $(shell set -x ; dpkg-architecture -a$(TARGET) -qDEB_HOST_GNU_TYPE)

SHELL  = /bin/bash

CC     = gcc
CFLAGS = -g -O2
STRIP  = strip --remove-section=.comment --remove-section=.note

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS = -g -O0
endif

VERSION       = $(shell sed -n 's/^ *VERSION=\(.*\)/\1/p' bfd/configure | head -1)

DISTRIBUTION := $(shell lsb_release -is)
NJOBS =
# Support parallel=<n> in DEB_BUILD_OPTIONS (see #209008)
COMMA = ,
ifneq (,$(filter parallel=%,$(subst $(COMMA), ,$(DEB_BUILD_OPTIONS))))
  NJOBS := -j $(subst parallel=,,$(filter parallel=%,$(subst $(COMMA), ,$(DEB_BUILD_OPTIONS))))
endif

with_strip := yes
ifneq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	with_strip := disabled through DEB_BUILD_OPTIONS
endif

# Support TARGET both as Debian architecture specification (e.g. arm),
# and as the target name (e.g. arm-linux-gnu).
try_convert := $(shell dpkg-architecture -a$(TARGET) -qDEB_HOST_GNU_TYPE 2>/dev/null)
ifneq ($(try_convert),)
override TARGET := $(try_convert)
endif

p_cross = $(subst _,-,binutils-$(TARGET))
d_cross = debian/$(p_cross)

configure-stamp: patch-stamp
	$(checkdir)
	test "" != "$(TARGET)"
	rm -rf configure-$(TARGET)-stamp builddir-$(TARGET)
	mkdir builddir-$(TARGET)
	cd builddir-$(TARGET) \
	    && env CC="$(CC)" ../configure \
			--host=$(DEB_BUILD_GNU_TYPE) \
	        --build=$(DEB_BUILD_GNU_TYPE) \
			--target=$(TARGET) --prefix=/usr \
		$(ADDITIONAL_TARGETS)
	touch $@

build: build-stamp
build-stamp: configure-stamp
	$(checkdir)
	test "" != "$(TARGET)"
	$(MAKE) -C builddir-$(TARGET) $(NJOBS) CFLAGS="$(CFLAGS)"
	touch $@

install-stamp: build-stamp
	$(checkdir)
	test "" != "$(TARGET)"
	rm -rf $(d_cross)
	$(MAKE) -C builddir-$(TARGET) prefix=$(pwd)/$(d_cross)/usr \
		mandir=$(pwd)/$(d_cross)/usr/share/man install
	rm -rf $(d_cross)/usr/lib* $(d_cross)/usr/info $(d_cross)/usr/share/locale
ifeq ($(with_strip),yes)
	$(STRIP) $$(file $(d_cross)/usr/bin/* | awk -F: '$$0 !~ /script/ {print $$1}')
endif
	gzip -9 $(d_cross)/usr/share/man/man1/*
	touch $@

binary-arch: checkroot install-stamp
	$(checkdir)
	test "" != "$(TARGET)"

	sed "/^$$/ q" < debian/control > debian/control.$(TARGET)
	sed -e "s/__TARGET__/$$(echo -n $(TARGET) | sed s/_/-/g)/" \
                 < debian/control.cross.in >> debian/control.$(TARGET)

	$(install_dir) $(d_cross)/DEBIAN

	$(install_dir) $(d_cross)/usr/share/doc/$(p_cross)/
	$(install_file)	debian/changelog $(d_cross)/usr/share/doc/$(p_cross)/changelog.Debian
	$(install_file)	debian/copyright debian/README.cross $(d_cross)/usr/share/doc/$(p_cross)/
	gzip -9f $(d_cross)/usr/share/doc/$(p_cross)/changelog.Debian

	for pkg in bfd gas gprof ld; do \
	  ln -sf ../binutils/$$pkg $(d_cross)/usr/share/doc/$(p_cross)/$$pkg; \
	done

	rm -f debian/substvars
	dpkg-shlibdeps $(d_cross)/usr/bin/*
	dpkg-gencontrol -isp -cdebian/control.$(TARGET) -P$(d_cross) -p$(p_cross)
	dpkg --build $(d_cross) ..

binary-indep:

clean: unpatch
	$(checkdir)
	test "" != "$(TARGET)"
	rm -rf $(d_cross) debian/control.$(TARGET) debian/files debian/substvars \
		builddir-$(TARGET) {configure,build,install}-$(TARGET)-stamp

################################################################################

define checkdir
        test -f bfd/elf32.c -a -f debian/rules
endef

# Below here is fairly generic really

binary:         binary-indep binary-arch

checkroot:
	$(checkdir)
        test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
